body {
    font-size: 25px;
}

html body {
    font-size: 25px !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #003366;
    font-weight: bold;
}

.highlight-section {
    background-color: #FAEDCB;
    color: #003366;
    padding: 1em;
    font-weight: normal;
}

/* Change admonition title font size */
.md-typeset .admonition-title,
.md-typeset details > summary {
    font-size: 0.8em;
}

/* Change admonition content font size */
.md-typeset .admonition,
.md-typeset details {
    font-size: 1em;
}